.breadcrumbs {
  color: color(text);
  text-decoration: none;
  width: $width-site;
  margin: 0 auto;
  opacity: .75;
  transition: all 600ms cubic-bezier(.01, .85, .10, 1);
  margin-bottom: .5rem;
  max-width: 90%;
  &:hover {
    opacity: 1;
  }
  a {
    color: color(text);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  @include phone {
    width: 90%;
  }
}