
// ** Index **
.section-dark {
  background-color: #1C1C1C;
}

.section-intro {
  @extend .flex;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100% !important;
  left: 0;
  max-width: 100% !important;
  max-height: 100vh;
  top: -13.5em;
  margin-bottom: -13.5em !important;
  position: relative;
  .btn--primary,
  .btn--secondary {
    margin-top: 2rem;
    @include phone {
      margin-top: .5rem;
    }
  }
  .btn--primary {
    margin-right: 1rem;
  }
  .btm--secondary {
    margin-left: 1rem;
  }
  .center.flex div {
    @include phone {
      display: flex;
      flex-direction: column;
    }
  }
  #page-intro-text {
    max-width: 45rem;
    margin: 0 auto;
    font-weight: 400;
    margin-bottom: 1rem;
    @include phone {
      font-size: 1rem;
      max-width: 100%;
      margin: 2rem auto;
    }
  }
  @include phone {
    min-height: 60rem;
  }
  @include tablet {
    min-height: 55rem;
  }
}

.section-full {
  height: 100vh;
}

.section-content {
  margin: 4em auto;
  width: 80%;
}

.section-how {
  height: 100vh;
  background-color: #2D2D2D;
  padding: 4em;
}

.section-resources {
  height: 100vh;
  padding: 4em;
  background: linear-gradient(to right, #2E2E2E, #2D2D2D);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}