*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/
 
.idea/**/workspace.xml 
.idea/**/tasks.xml 
.idea/dictionaries  
 
.idea/**/dataSources/ 
.idea/**/dataSources.ids 
.idea/**/dataSources.xml 
.idea/**/dataSources.local.xml 
.idea/**/sqlDataSources.xml 
.idea/**/dynamic.xml 
.idea/**/uiDesigner.xml  
.idea/**/gradle.xml 
.idea/**/libraries  
.idea/**/mongoSettings.xml 
*.iws  
.idea_modules/  
atlassian-ide-plugin.xml 
*.iml 
modules.xml
.idea/misc.xml 
*.ipr  

# Sonarlint plugin 
.idea/sonarl

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
