// body
body {
    background-color: #222222;
    background-color: linear-gradient(to left top, #222222, #333333);
    color: color(text);
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    line-height: 1.44444;
}

img {
    height: auto;
    max-width: 100%;
  }