// ==== CONFIGURATION ==== //

// Set all your configuration variables here!

// Width of the overall site as well as the left and right content columns
$width-site:    1000px;
$width-left:    650px;
$width-right:   350px;

// Breakpoints
$break-small:   480px;
$break-medium:  620px;
$break-large:   800px;

// A standard margin
$spacer:        30px;

$_color: (
        eden: #145B49,
        elf-green: #069170,
        text: #E0E0E0,
        link: steelblue,
        link-muted: steelblue,
        body-background: #222222,
        white: #FFFFFF,
        dark: #272727,
        mine-shaft: #212121,
        cod-grey: #141414,
        silver: #C9C9C9,
        alto: #E0E0E0,
        blue: #3498db,
        orange: #F48A43
);

// Metadata; use metadata() to access
$_metadata: (
  theme-name:               "LBRY Community"
, theme-uri:                "https://github.com/synapticism/wordpress-gulp-starter-kit"
, theme-author:             "Andreas Rein"
, theme-author-uri:         "http://synapticism.com"
, theme-description:        "A minimally viable theme made with the WordPress/Gulp starter kit"
, theme-version:            "0.0.1"
, theme-license:            "GPLv3"
, theme-license-uri:        "http://www.gnu.org/licenses/gpl.txt"
, theme-tags:               (light, responsive-layout, right-sidebar, starter-theme, two-columns, translation-ready, white)
, theme-text-domain:        "voidx"
, theme-text-domain-path:   "/languages/"
);


// body
body {
    background: linear-gradient(to left top, #222222 10%, #333333);
    color: color(text);
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    line-height: 1.44444;
}

img {
    height: auto;
    max-width: 100%;
  }

.wrapper {
    display: flex;
    min-height:100vh;
    flex-direction:column;
}