header {
    margin: 2em auto;
}

header ul li {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}

header ul li a {
    text-decoration: none;
    color: #7A7A7A;
    position: relative;
}

header ul li a:hover {
    cursor: pointer;
    color: #AFAFAF;
}

.current_page_item a,
.current-menu-item a {
    color: #AFAFAF;
    &:after {
        content: "";
        position: absolute;
        width: 80%;
        height: 2px;
        background-color: #145B49;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: -10px;
    }
}
