.title-secondary {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.15em;
}

$font-size-base : 16px;
$line-height-base : 28px;


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: ($line-height-base / 2) 0;
    line-height: $line-height-base;
    small {
        line-height: 1;
    }
}

h1,
h2 {
    margin-top: $line-height-base;
    margin-bottom: ($line-height-base / 2);
    line-height: ($line-height-base * 1.5);
}

h3,
h4,
h5,
h6 {
    margin-top: ($line-height-base / 2);
    margin-bottom: ($line-height-base / 2);
    line-height: ($line-height-base * 1.5);
}

h1 {
    font-size: $font-size-base * 2.75;
} // ~38px
h2 {
    font-size: $font-size-base * 1.875;
    font-weight: 300;
} // ~32px
h3 {
    font-size: $font-size-base * 1.75;
} // ~24px
h4 {
    font-size: $font-size-base * 1.25;
    font-weight: 600;
} // ~18px
h5 {
    font-size: $font-size-base;
}

h6 {
    font-size: $font-size-base * 0.85;
} // ~12px
h1 small {
    font-size: $font-size-base * 1.75;
} // ~24px
h2 small {
    font-size: $font-size-base * 1.25;
} // ~18px
h3 small {
    font-size: $font-size-base;
}

h4 small {
    font-size: $font-size-base;
}



ul,
ol {
    padding: 0;
    margin: 0 0 ($line-height-base / 2) 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0;
}

li {
    line-height: $line-height-base;
}
dl {
    margin-bottom: $line-height-base;
}

dt,
dd {
    line-height: $line-height-base;
}

dd {
    margin-left: ($line-height-base / 2);
}

hr {
    margin: $line-height-base 0;
    border: 0;
    border-top: 1px solid;
    border-bottom: 1px solid #fff;
}


.rhythm {
    p,
    ul,
    ol,
    blockquote,
    address,
    pre,
    form {
        margin-bottom: $line-height-base; // And remove margin from last element
        &:last-child {
            margin-bottom: 0;
        }
    }
}


.rhythm {
    h1,
    h2,
    h3 {
        margin-bottom: ($line-height-base / 4);
    }
    h1+h2 {
        margin-top: $line-height-base;
    }
    h4 {
        margin-bottom: ($line-height-base / 6);
    }
    h1+p,
    p+h4 {
        margin-top: ($line-height-base * 1.5);
    }
    h2+h3,
    h2+h4 {
        margin-top: $line-height-base;
    }
    h2+p,
    h3+p {
        margin-top: ($line-height-base / 2);
    }
    p+h2 {
        margin-top: ($line-height-base * 3);
    }
    h3+h4 {
        margin-top: ($line-height-base * 2);
    }
}



.rhythm {
    h3+ul.bullet-list,
    h3+ul.numbered-list,
    h3+ul.alpha-list,
    h3+ol.numbered-list {
        margin-top: ($line-height-base / 2);
    }
    ul.bullet-list+h3,
    ul.numbered-list+h3,
    ul.alpha-list+h3 {
        margin-top: ($line-height-base * 2);
    }
    h4+ul.bullet-list,
    h4+ul.numbered-list,
    h4+ul.alpha-list,
    h4+ol.numbered-list {
        margin-top: ($line-height-base / 2);
    }
    .bullet-list {
        list-style-type: disc; // bullets
        padding-left: 1.25em;
    }
    .numbered-list {
        list-style-type: decimal; // numbers
        padding-left: 1.5em;
    }
    .alpha-list {
        list-style-type: lower-alpha; // letters
        padding-left: 1.5em;
    }
    .bullet-list li,
    .numbered-list li,
    .alpha-list li {
        margin-bottom: ($line-height-base / 2);
    }
    .condensed-list li {
        margin-bottom: 0;
    }
    .flush-list li {
        padding-left: 0;
    }
}


.rhythm blockquote {
    padding: $line-height-base $line-height-base 0;
}