article {
  img {
    padding: 1.5rem 0;
  }

  .post-edit-link {
    line-height: 1.15rem;
    transition: all 600ms cubic-bezier(.01, .85, .10, 1);
    &:hover {
      font-weight: 600;
    }
  }
}

.article-wrapper {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0 1em;
  a {
    text-decoration: none;
    color: color(text);
  }
  .article-meta-extra {
    position: relative;
    z-index: 1;
    padding: .5em 0;
    margin: -1.25rem 0;
    display: inline-block;
    h6 {
      margin: 0;
      font-weight: 600;
    }
  }
}

%article {
  transition: all 600ms cubic-bezier(.01, .85, .10, 1);
}

.article {
  &--small {
    @extend %article;
    &:hover {
      box-shadow: 1px 5px 1.5rem rgba(0, 0, 0, .2);
    }
  }
  &--dark {
    @extend %article;
    background: #1F1F1F;
    padding: 1.25rem 2.5rem;
    margin: 2rem 0;
    border-radius: 1rem;
    a {
      color: color(text) !important;
      text-decoration: none;
    }
    &:hover {
      transform: translateY(-10px);
      box-shadow: 1px 1rem 1rem rgba(0, 0, 0, .25);
    }
  }
  &--single {
    .article-meta-extra {
      color: color(silver);
      margin-bottom: 4rem;
    }
    .preamble {
      font-size: 1.5rem;
    }
    .article-categories a {
      text-decoration: none;
      color: color(text);
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
    }
    hr {
      color: rgba(255,255,255,.2);
      transform: scale(1.1, 1);
    }
  }
  &--featured {
    color: color(text);
    h2 {
      margin-bottom: 0 !important;
    }
    .article--featured-description {
      margin: .25rem 0;
    }
    .article-meta-extra {
      opacity: .75;
    }
    a {
      text-decoration: none;
      color: color(text);
    }
  }
}

.article-control-center {
  p {
    opacity: .5;
  }
  .btn--icon {
    margin: 0 auto;
    display: block;
    text-align: center;
    display: inline-block;
    box-shadow: 1px 5px 5px rgba(0,0,0,.15);
    &:nth-child(n+4) {
      margin-left: .5rem;
    }
  }
}

.article-preview-image {
  &--big {
    margin: 0;
    width: 100%;
    height: 20em;
    border-radius: 2px;
  }
  &--small {
    margin: 0;
    width: 100%;
    height: 10em;
    border-radius: 2px;
  }
  &--featured {
    width: 100%;
    height: 55vh;
    border-top: 1px solid rgba(255, 255, 255, .25);
    border-bottom: 1px solid rgba(255, 255, 255, .25);
    border-radius: 2px;
    box-shadow: 1px .25rem 1rem rgba(0, 0, 0, .2);
  }
  &--none-big {
    height: 20em;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 2px;
  }
  &--none-small {
    height: 10em;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 2px;
  }
  &--none-featured {
    height: 20em;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 2px;
  }
}

.article--featured-content {
  width: 50rem;
  margin: 0 auto;
  background-color: #202020;
  padding: 1.25rem 2rem;
  border-radius: .75rem;
  border: 1px solid darken(color(orange), 30%);
  position: relative;
  top: -7.5rem;
  transition: all 800ms cubic-bezier(.01, .85, .10, 1);
  &:hover {
    box-shadow: 1px 1rem 1rem rgba(0, 0, 0, .25);
    transform: translateY(-5px);
  }
  @include desktop-max {
    width: 80%;
  }
}

.category-featured {
  position: absolute;
  top: -.75rem;
  left: 2rem;
  background: linear-gradient(180deg, #8F33B6 0%, #BA3DEE 94.48%);
  border: 1px solid #77219B;
  padding: .2rem .5rem;
  border-radius: 5px;
  text-shadow: 1px 1px 5px rgba(0,0,0,.25);
}