article {
  img {
    padding: 1.5rem 0;
  }

  .post-edit-link {
    line-height: 1.15rem;
    transition: all 600ms cubic-bezier(.01, .85, .10, 1);
    &:hover {
      font-weight: 600;
    }
  }
}

.article-wrapper {
  &--small {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 1em;
    a {
      text-decoration: none;
      color: color(text);
    }
    .article-meta-extra {
      position: relative;
      z-index: 1;
      padding: .5em 0;
      margin: -1.25rem 0;
      display: inline-block;
      h6 {
        margin: 0;
        font-weight: 600;
      }
    }
  }
}

.article {
  &--single {
    font-size: 1.15rem;
  }
  &--dark {
    background: #1F1F1F;
    padding: 1.25rem 2.5rem;
    margin: 2rem 0;
    border-radius: 1rem;
    transition: all 600ms cubic-bezier(.01, .85, .10, 1);
    a {
      color: color(text) !important;
      text-decoration: none;
    }
    &:hover {
      transform: translateY(-10px);
      box-shadow: 1px 1rem 1rem rgba(0,0,0,.25);
    }
  }
}

.article-preview-image {
 margin: 0;
  max-width: 100%;
}