.article-wrapper {
  &--small {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 1em;
    a {
      text-decoration: none;
      color: color(text);
    }
    .article-meta-extra {
      position: relative;
      z-index: 1;
      padding: .5em 0;
      display: inline-block;
      h6 {
        margin: 0;
        font-weight: 600;
      }
    }
  }
}