// ==== MENUS ==== //

// Inline menu; used in header and footer navigation
.menu-inline {
  @extend %clearfix;
  &, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    & > li {
      float: left;
      margin-right: spacer();
      &:last-of-type {
        margin-right: 0;
      }
    }
    > li > ul {
      // Hide submenu
      @extend %hide;
    }
  }
}

// Menu toggle for mobile phones and small screens
#responsive-menu-toggle {
  @include media-above($break-medium) {
    display: none;
  }
}

.current-menu-item a {
  color: #AFAFAF;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, .25);
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -.05rem;
    transform: scale(1.5);
    border-radius: .5rem;
  }
}

.menu-item {
  color: color(silver);
}

.menu-main {
  @include phone {
    display: none;
  }
}

// Full screen menu
body.full-menu-visible {
  overflow: hidden;
}

.menu-full-screen {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(100vh at 50% 50%, #262626 0%, #1A1A1A 100%);
  transform: scale(0.5);
  opacity: 0;
  @include phone {

  }
  ul {
    background-color: color(mine-shaft);
    box-shadow: inset 0px 5px 20px rgba(0, 0, 0, 0.1);
    bottom: 0;
    max-width: 600px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20vh 0;
    border-radius: 2rem 2rem 0 0;
    li {
      list-style: none;
      font-size: 2rem;
      line-height: 4rem;
      font-weight: 400;
    }
  }
  &.active {
    display: block;
  }

  .search-form {
    @extend .flex--container--row;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    max-width: 600px;
    margin-top: 10rem;
    @include phone {
      margin-top: 4rem;
    }
    span.screen-reader-text {
      display: none;
      margin-bottom: 1rem;
    }
    label {
      @include phone {
        display: block;
        width: 90%;
      }
    }
    input[type="search"] {
      @extend .flex--item;
      background-color: color(cod-grey);
      border: 2px solid #000000;
      box-sizing: border-box;
      border-radius: 20px;
      padding: 1rem 1.25rem;
      margin-right: 2rem;
      color: color(alto);
      transition: all 600ms cubic-bezier(.01, .85, .10, 1);
      &:hover {
        background-color: darken(color(cod-grey), 2.5%);
      }
      &:focus {
        background-color: darken(color(cod-grey), 5%);
      }
      @include phone {
        @include centerer(true, true);
        padding: .75rem;
        top: -.5rem;
      }
    }
    .search-submit {
      @extend .flex--item;
      border: 2px solid color(eden);
      border-radius: 20px;
      padding: 1rem;
      background: transparent;
      color: color(alto);
      transition: all 600ms cubic-bezier(.01, .85, .10, 1);
      cursor: pointer;
      &:hover {
        background-color: color(eden);
      }
      @include phone {
        @include centerer(true, true);
        padding: .75rem;
        display: block;
        width: 90%;
        top: 4rem;
      }
    }
  }

  // Current menu item
  .current-menu-item a {
    color: #AFAFAF;
    z-index: 0;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border: none;
      margin: 0 auto;
      background: #1C1C1C;
      box-shadow: 0px 2px 10px rgba(244, 138, 67, 0.05);
      z-index: -1;
      left: 0;
      right: 0;
      transform: scale(1.5);
      border-radius: .5em;
    }
  }
}