@keyframes negative-number {
  0% {
    color: #717171;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    color: #e74c3c;
  }
  100% {
    color: #717171;
    opacity: 1;
  }
}

@keyframes positive-number {
  0% {
    color: #717171;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    color: #2ecc71;
  }
  100% {
    color: #717171;
    opacity: 1;
  }
}

.ticker-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: relative;
  top: 20vh;
  a {
    text-decoration: none;
  }
  @include phone {
    top: 5vh;
  }
  .ticker-title {
    color: #717171;
    margin: 0;
    font-size: 1.1rem;
    text-align: right;
  }
  .ticker-price {
    color: #717171;
    margin: 0;
    text-align: right;
  }
  .ticker-positive {
    animation-name: positive-number;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
  }
  .ticker-negative {
    animation-name: negative-number;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
  }
}

.ticker {
  position: relative;
}
  