extends views/layout.pug

block content
	.wrapper
		section
			h1.text-center Welcome to LBRY.COMMUNITY
		section
			h2 How LBRY works
		section
			h2.text-right Resources and articles
		section
			h2 Contact us
			p Send us an email or go to the slack channel and contact @rouse
		footer
