%btn {
  width: auto;
  color: color(primary);
  background-color: transparent;
  padding: .5em 2.25em;
  margin: 2.5em auto;
  font-weight: 600;
  font-size: 1.3rem;
  display: inline-block;
  text-decoration: none;
  border-radius: 2em;
}

.btn {
  &--primary {
    @extend %btn;
    background: linear-gradient(180deg, #8F33B6 0%, #8F33B6 0.01%, #BA3DEE 98.9%);
    margin: .75em auto;
    font-size: 1rem;
    color: color(white);
    letter-spacing: 0.05em;
  }
  &--secondary {
    @extend %btn;
    &:hover {
      background-color: color(primary);
      border: 2px solid color(primary);
      color: white;
      a {
        color: white;
      }
    }
    a {
      text-decoration: none;
      &:hover {
        background-color: color(primary);
        border: 2px solid color(primary);
      }
    }
  }
  &--nav {
    z-index: 10;
    cursor: pointer;
    position: relative;
    background-color: rgba(0,0,0,0.2);
    padding: 0.25rem 1rem;
    border-radius: 0.75rem;
    color: color(white);
  }
}