%btn {
  text-transform: uppercase;
  border-radius: 5px;
  width: auto;
  border: 2px solid color(primary);
  color: color(primary);
  background-color: transparent;
  padding: .75em 2.25em;
  margin: 2.5em auto;
  font-weight: 600;
  font-size: 1.2rem;
  display: inline-block;
  text-decoration: none;
}

.btn {
  &--primary {
    @extend %btn;
    background-color: color(primary);
    margin: .75em 0;
    font-size: 1rem;
  }
  &--secondary {
    @extend %btn;
    &:hover {
      background-color: color(primary);
      border: 2px solid color(primary);
      color: white;
      a {
        color: white;
      }
    }
    a {
      text-decoration: none;
      &:hover {
        background-color: color(primary);
        border: 2px solid color(primary);
      }
    }
  }
}