.content {
  max-width: 85%;
  margin: 0 auto;
}

.section-air {
  margin: 6em auto !important;
  &:first-of-type {
    margin-top: 0;
    margin-bottom: 6rem;
  }
}

.content-text {
  @extend .rhythm;
  max-width: 760px;
  margin: 4em auto;
  &--full-height {
    position: relative;
    padding: 45vh 10vw;
  }
  a {
    color: color(blue);
  }
}

.text-content-part {
  margin: 4em 0;
  &:first-child {
    margin-top: 0;
  }
}

.four-lines {
  display: block;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

%pseudo {
  content: " ";
  position: absolute;
}