.content {
  max-width: 85%;
  margin: 0 auto;
}

.section-air {
  margin: 12em auto;
  &:first-of-type {
    margin-top: 0;
    margin-bottom: 6rem;
  }
}

.text-content {
  max-width: 600px;
  margin: 4em auto;
}

.text-content a {
  color: #ffffff;
  text-decoration: underline;
}

.text-content-part {
  margin: 4em 0;
  &:first-child {
    margin-top: 0;
  }
}

%pseudo {
  content: " ";
  position: absolute;
}

.title-underline-left {
  position: relative;
  margin-bottom: 1.5em;
  &:after {
    @extend %pseudo;
    height: 5px;
    width: 4em;
    left: 0;
    background-color: color(primary);
    bottom: -20px;
  }
}

.title-underline-right {
  position: relative;
  margin-bottom: 1.5em;
  text-align: right;
  &:after {
    @extend %pseudo;
    height: 5px;
    width: 4em;
    right: 0;
    background-color: color(primary);
    bottom: -20px;
  }
}