.img-header {
    max-height: 100%;
    width: 8.5em;
}

.img-mid {
    max-height: 100%;
    width: 30em; 
    margin: 1em 0;
}

.img-small {
    max-height: 100%;
    width: 10em;
    margin: 1em 0;
}

.img-micro {
    max-height: 100%;
    width: 4em;
}

.img-gif-intro {
    display: block;
    margin: 0 auto;
}

.img-bg {
    background-size: cover !important;
}

.aligncenter {
    margin: 0 auto;
    display: block;
}