.img-header {
    max-height: 100%;
    width: 10em;
    margin: 1em 0;
}

.img-mid {
    max-height: 100%;
    width: 30em; 
    margin: 1em 0;
}

.img-micro {
    max-width: 100%;
    width: 4em;
}

.img-gif-intro {
    display: block;
    margin: 0 auto;
}